@define-color placeholder_text_color #ffffff;

* {
    font-family: "Gilroy", sans-serif;
}

.dialog_auth  {
    background: rgb(20,39,69);
    background: linear-gradient(173deg, rgba(20,39,69,1) 0%,
                rgba(0,100,123,1) 49%, rgba(105,114,145,1) 100%);
}

box stack {
    background-color: transparent;
}

entry {
	box-shadow: none;
    border: none;
    padding: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin: 0 -25px;
}

notebook {
    border: none;
}

button, .input {
    border: none;
}

.login_btn {
    background: #fff;
    box-shadow: none;
    padding: 15px 30px;
    border-radius: 2px;
    color: #104C65;
    transition: all .3s ease-out;
}

.login_btn:hover {
    opacity: .8;
}

.label {
    color: #fff;
    margin-bottom: 10px;
}

.input {
    border-radius: 0;
    caret-color: #fff;
    color: #fff;
    
    background: none;
    border-bottom: 1px solid #fff;
    transition: all .5s ease-out;
}

.input > property {
    color: #fff;
}

.notebook_item {
	margin-top: 35px;
}

.dialog_notebook header {
	background-color: transparent;
}

.dialog_auth .titlebar {
    border: none;
    min-height: 30px;
}

.dialog_auth decoration {
	box-shadow: none;
}

.dialog_auth {
	border-radius: 0 0 8px 8px;
}

.dialog_notebook stack, tabs {
	padding: 0;
}

.dialog_notebook header tab {
	margin: 0;
}
