@define-color placeholder_text_color #8895A3;

* {
    font-family: "Gill Sans", sans-serif;
    transition: all .07s ease-out;
    outline-color: #CFD6EC;
    outline-style: double;
}
button {
    -gtk-icon-effect: none;
    -gtk-icon-shadow: none;
    text-shadow: none;
    box-shadow: none;
}
list row {
    box-shadow: none;   
}
.dialog_auth entry, .wnd_main entry, .box-room-settings textview,
.dialog_auth textview, .wnd_main textview, .box-room-settings entry,
.box-room-info textview, #dialog_profile_prefs textview,
.dialog_addroom entry, .wnd-room-info entry, .dialog_user_info textview {
    caret-color: #737A82;
    color: #737A82;
}
button, .input, entry, notebook, .dialog_auth .titlebar, button image  {
    border: none;
}
.dialog_auth, .wnd_main, .dialog_addroom,
.profile-settings-wnd, .wnd-room-info, .wnd-room-settings,
.dialog_join_to_room, .dialog_user_info {
    background: #fff;
}
.dialog_auth entry selection, .wnd_main entry selection,
.dialog_auth textview selection, .wnd_main textview selection,
.box-room-settings textview selection, .box-room-info textview selection,
#dialog_profile_prefs textview selection, .dialog_user_info textview selection {
	background-color: #5771E5;
}
box stack, entry, .dialog_notebook header {
    background-color: transparent;
}
.dialog_addroom .dialog-vbox {
    padding: 30px 45px 0 45px;
}
.dialog_addroom entry {
    margin-top: 12px;
}
.dialog_addroom .dialog-action-area {
    margin-top: 15px;
}
.dialog_auth entry, .dialog_addroom entry {
	box-shadow: none;
    font-size: 15px;
    font-weight: 400;
}
.dialog_auth entry, .dialog_addroom entry {
	background-color: #F2F4FF;
	border-radius: 5px;
    padding: 1px 10px;
}
.dialog-action-area {
    margin-bottom: 45px;
}
button {
    background-image: none;
}
.dialog-action-area button {
    background-color: #5771E5;
    box-shadow: none;
    padding: 12px 40px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.dialog-action-area button:first-child {
    margin-right: 5px;
}
.dialog-action-area button:last-child {
    margin-left: 5px;
}
.dialog-action-area button:hover {
    background-color: rgba(87,113,229,.7);
}
.box-functional-buttons button {
    background-color: #F2F4FF;
    color: #8895A3;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid transparent;
}
.box-functional-buttons button:hover {
    border: 1px solid #5771E5;
}
button label {
    box-shadow: none;
}
.notebook_item {
	margin-top: 30px;
}
.notebook_item label {
    font-weight: 500;
    font-size: 13px;
    color: red;
}
headerbar {
    min-height: 35px;
}
.dialog_auth decoration, .wnd-room-info decoration,
.wnd-room-settings decoration, .profile-settings-wnd decoration {
    border-radius: 8px;
}
.dialog_auth, .wnd-room-info, .wnd-room-settings, .profile-settings-wnd {
	border-radius: 0 0 8px 8px;
}
.dialog_notebook stack, tabs {
	padding: 0;
}
.dialog_notebook header tab {
    margin: 0;
}
.dialog_notebook {
    margin-top: 30px;
}
.dialog_notebook header {
	border: none;
}
.dialog_notebook tab{
    color: #8895A3;
    padding-top: 7px;
    padding-bottom: 8px;
    outline: none;
}
.dialog_notebook tab {
    box-shadow: 0 -3px #CFD6EC inset;
}
.dialog_notebook tab:hover {
    box-shadow: 0 -3px #B5C0E0 inset;
}
.dialog_notebook tab:checked {
    box-shadow: none;
	box-shadow: 0 -3px rgb(87,113,229) inset;
}
.dialog_notebook tab label {
    font-weight: 500;
    font-size: 16px;
    color: rgba(136,149,163,.6);
}
.dialog_notebook tab:hover label {
    color: rgba(136,149,163,.8);
}
.dialog_notebook tab:checked label {
    color: rgb(136, 149, 163);
}
headerbar box label {
	font-size: 14px;
	font-weight: 400;
	color: #403E3D; 
}
dialog headerbar {
    background: rgb(229,229,229);
    background: linear-gradient(180deg, rgba(229,229,229,1) 0%, rgba(205,205,205,1) 100%);
}
.rooms-list, .stack_messages list, .rooms-list .activatable:selected {
	background: transparent;
}
.wnd_main scrolledwindow {
	border: none;
}

/* Search entry styles */

.wnd_main .search, .wnd-room-info .search {
	background-color: #F2F4FF;
	border-radius: 5px;
    padding: 2px 8px 1px 8px;
    font-weight: 300;
    font-size: 14px;
}
.box-rooms .search {
    margin: 18px 25px 15px 25px;
}
.wnd_main .search image, .wnd-room-info .search image {
    margin-right: 8px;
}

/* Rooms list box styles */

.rooms-list row {
	padding: 0;
}
.rooms-list row, .rooms-list row label {
    color: #8895A3;
    outline: none;
}
.rooms-list label {
	background-color: transparent;
    padding: 25px 20px;
    border: 2px solid #E8ECF8;
    border-radius: 8px;
    margin: 5px 25px;
    font-size: 15px;
}
.rooms-list row:hover {
    background-color: transparent;
}
.rooms-list row:hover label {
    margin-left: 20px;
    margin-right: 20px;
}
.rooms-list row:selected label {
    border-color: transparent;
    border-left: 2px solid rgb(87,113,229);
    border-right: 2px solid rgb(87,113,229);
    margin-left: 18px;
    margin-right: 18px;
}
.rooms-list row:selected:hover label {
    margin-left: 14px;
    margin-right: 14px;
}
/* Class for room with new messages */
.rooms-list row .has-messages {
    border-right: 2px solid #28E1B2;
	animation-name: pulse;
	animation-duration: .8s;
	animation-timing-function: ease;
	animation-iteration-count: infinity;
}
.rooms-list row:hover .has-messages {
	animation: none;
}
@keyframes pulse {
    0% {margin-left: 25px; margin-right: 25px;}
    75% {margin-left: 21px; margin-right: 21px;}
    100% {margin-left: 25px; margin-right: 25px;}
}
.add-room-button {
	background: none;
    padding: 15px;
    border-radius: 100px;
    background-color: #E8ECF8;
    margin: 20px 0 25px 0;
}
.add-room-button:hover {
    background-color: rgb(215, 220, 233);
}
.wnd_main scrolledwindow overshoot, scrolledwindow undershoot {
	box-shadow: none;
}
.box-rooms {
    background-color: #F9FAFF;
}
.boxroom_header-in {
    border-bottom: 1px solid #CFD6EC;
    background-color: transparent;
    padding: 0 25px;
    font-size: 17px;
}
.boxroom_header-in button {
    background-image: none;
    background-color: transparent;
    border: 1px solid #CFD6EC;
    padding: 4px 7px;
}
.boxroom_header-in label {
    color: #323B59;
}
.boxroom_header-in button:nth-child(4) {
	margin-left: 2px;
}
.boxroom_header-in button:nth-child(3) {
	margin-left: 2px;
}
.wnd_main list {
    color: #fff;
}
.wnd_main srcollbar.hovering slider {
    background-color: rgba(87,113,229,.8);
}
.wnd_main .hovering {
    background-color: #F2F4FF;
	border: none;
}
.wnd_main .dragging slider {
	background-color: rgb(87,113,229);
}
.wnd_main scrollbar slider {
	border-color: transparent;
	background-color: rgba(87,113,229,.8);
}
.box-rooms undershoot.bottom {
	box-shadow: 0 -30px 10px -10px #F9FAFF inset;
	opacity: 1;
}

/* Title bar styles */

.box_titlebar {
    background-color: #5771E5;
	padding: 0 25px;
}
.box_titlebar button {
    background-color: #F2F4FF;
    padding: 3px 8px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.box_titlebar button:nth-child(3) {
	margin-right: 7px;
}
.box_titlebar button:hover, .boxroom_header-in button:hover,
.btns-msg-box:hover, .button_send_message:hover {
    opacity: .7;
}

/* Messages area styles */

.box_msg_send {
	margin: 0 25px 25px 25px;
    background-color: transparent;
    border: 1px solid #CFD6EC;
	padding: 15px 33px 15px 25px;
	border-radius: 8px;
}
.button_send_message, .btn_confirm_changes {
	background-color: #E8ECF8;
	border-radius: 100px;
	padding: 13px;
}
.box_msg_send textview text,  .box_msg_send textview {
    background-color: transparent;
    color: #737A82;
    font-weight: 300;
    font-size: 15px;
}
.stack_messages > label {
    color: #8895A3;
}
.main_msg_box {
	padding: 0 180px 0 0;
}
.main_own_msg_box {
	padding: 0 0 0 180px;
}
.stack_messages list {
	margin: 7px 38px 14px 38px;
}
.stack_messages list row {
    padding: 0;
}
.stack_messages list row:selected {
	background-color: transparent;
}

/* Message styling */

.sender_login {
    color: #798097;
    margin-top: 10px;
    font-size: 14px;
}
.stack_messages list .box_msg_info > label,
.stack_messages list .box_own_msg_info > label,
.box_own_file_info .file-button, 
.box_file_info .file-button {
	padding: 10px 15px;
	margin-top: 7px;
	margin-left: 7px; 
	font-weight: 300;
	font-size: 14px;
	color: #737A82; 
}
.stack_messages list .box_msg_info > label, .box_file_info .file-button {
    background-color: #F2F4FF;
    border-radius: 0 8px 8px 8px;
}
.stack_messages list .box_own_msg_info > label, .box_own_file_info .file-button {
	background-color: #E7F3FF;
	border-radius: 8px 8px 0 8px;
}
.stack_messages list .box_msg_info > box > label,
.stack_messages list .box_sticker_info > box > label,
.stack_messages list .box_own_msg_info > box > label,
.stack_messages list .box_own_sticker_info > box > label,
.box_own_file_info > box:first-child > label,
.box_file_info > box:last-child > label {
    font-size: 13px;
    font-weight: 300;
    color: #C2C2C2;
}
.stack_messages list .box_msg_info >  box ,
.stack_messages list .box_sticker_info > box,
.box_file_info > box:last-child  {
    margin-left: 10px;
}
.box_own_msg_info > box, .box_own_file_info > box:first-child {
    margin-right: 7px;
}
.stack_messages list .box_own_sticker_info > box {
	margin-right: 10px;
}
.stack_messages list .box_own_sticker_info > image,
.stack_messages list .box_sticker_info > image {
    margin-top: 7px;
    border-color: transparent;
}
.stack_messages list row:selected .box_msg_info > label,
.stack_messages list row:selected .box_own_msg_info > label {
    background-color: #5771E5;
    color: #fff;
}
.stack_messages list row:selected .box_own_sticker_info > image {
    border-right: 8px solid #5771E5;
    border-radius: 5px;
    padding-right: 7px;
}
.stack_messages list row:selected .box_sticker_info > image {
    border-left: 8px solid #5771E5;
    border-radius: 5px;
    padding-left: 7px;
}
.box_file_info > box > box, .box_own_file_info > box > box,
.stack_messages list .box_msg_info > box > box,
.stack_messages list .box_sticker_info > box > box,
.stack_messages list .box_own_msg_info > box > box,
.stack_messages list .box_own_sticker_info > box > box {
	font-size: 13px;
	color: #B8C2E5;
}

/* Box file info styles */

.file-button > label {
	color: #737A82; 
}
.stack_messages list row:hover .file-button button {
    opacity: .8;
}
.stack_messages list row:selected .box_file_info .file-button,
.stack_messages list row:selected .box_own_file_info .file-button {
    background-color: #5771E5;
}
.stack_messages list row:selected .box_file_info .file-button label,
.stack_messages list row:selected .box_own_file_info .file-button label {
    color: #fff;
}

.stack_messages list row label {
	transition: none;
}
.stack_messages list row:hover {
    background-color: transparent;
}
.box_msg_ctrl {
    background-color: #fff;
    border-bottom: 1px solid #CFD6EC;
    padding: 7px 25px;
}
.box_msg_ctrl button {
	background-color: #5771E5;
}
#box_edit_msg {
	margin: 0 25px 10px 25px;
}
#box_edit_msg label:first-child {
	color: #5771E5;
	font-weight: 400;
	font-size: 15px;
}
#box_edit_msg label:last-child {
	color: #8895A3;
	font-weight: 300;
	font-size: 14px;
}
#box_edit_msg box.vertical {
	margin-left: 7px;
}
#image_edit_msg {
	margin-top: 2px;
}
#box_edit_msg button:hover {
    opacity: .65;
}
.stack_messages list .box_msg_info label.full_border_msg {
	border-top-left-radius: 8px;
}
.label_search_result {
    background-color: #E8ECF8;
    color: #737A82;
    font-size: 14px;
}
#dialog_profile_prefs .dialog-action-area button {
	padding: 12px 30px;
}

/* Dialog window room settings styles */

.wnd-room-settings {
	padding: 30px;
}
.box-room-settings {
	margin: 22px 45px 0 45px;
}
.box-room-settings entry {
	border: 1px solid #E8ECF8;
	background-color: #F2F4FF;
	border-radius: 5px;
	padding: 0 8px;
    font-weight: 300;
    box-shadow: none;
    font-size: 14px;
}
.box-room-settings textview text, .box-room-info textview text,
#dialog_profile_prefs textview text, .dialog_user_info textview text {
    background-color: #F2F4FF;
    box-shadow: none;
    border: 1px solid #E8ECF8;
    border-radius: 5px;
    color: #737A82;
    font-weight: 300;
}
.box-room-settings textview, .box-room-info textview {
    background-color: transparent;
    padding-top: 8px;
    font-weight: 300;
    font-size: 14px;
}
.box-room-settings scrolledwindow, .box-room-info scrolledwindow {
    border: none;
}
.box-room-settings > box:first-child label {
	font-size: 14px;
	color: #8895A3;
	margin-top: 10px;
    margin-bottom: 7px;
    font-weight: 500;
}
.box-room-settings > box:first-child box:last-child list {
    background-color: transparent;
}
.box-room-settings > box:first-child box:last-child scrolledwindow {
	border-radius: 5px;
	background-color: #F2F4FF;
	border: 1px solid #E8ECF8;
}

/* Dialog window room info styles */

.box-room-info {
    color: #737A82;
    margin: 22px 45px 45px 45px;
}
.box-room-info box label:first-child {
	font-size: 14px;
	color: #8895A3;
	font-weight: 500;
}
.box-room-info > box:nth-child(2) label:last-child {
    font-size: 16px;
}
.box-room-info > box:first-child > label {
	font-size: 17px
}
.box-room-info > box:first-child > box {
	font-size: 14px;
}
.box-room-info > box:first-child > box image {
	margin-right: 3px;
}
.box-room-info > box:nth-child(3) label,
.box-room-info > box:nth-child(4) > label {
	margin-bottom: 7px;
}
.box-room-info > box:nth-child(4) > label {
	margin-top: 3px;
}
.box-room-info box:last-child list {
    background-color: transparent;
}
.box-room-info box:last-child scrolledwindow {
	border-radius: 5px;
	background-color: #F2F4FF;
	border: 1px solid #E8ECF8;
}
.box-room-info > label {
	font-size: 17px;
}
.box-room-info textview {  
    font-size: 14px;
}

/* Dialog window profile settings styles */

#dialog_profile_prefs {
    color: #737A82;
    margin: 35px 45px 0 45px;
}
#dialog_profile_prefs > box:first-child label:first-child {
	font-size: 14px;
	color: #8895A3;
	font-weight: 500;
}
#dialog_profile_prefs > box:first-child label:last-child  {
	font-size: 16px;
}
#dialog_profile_prefs > box:first-child box:last-child > label {
	margin: 10px 0 7px;
}
#dialog_profile_prefs > box:first-child box:last-child > button {
    margin-top: 6px;
}
#dialog_profile_prefs .dialog-action-area {
    margin-top: 12px;
}
#dialog_profile_prefs textview {  
    font-size: 14px;
    padding-top: 8px;
    background-color: transparent;
    font-weight: 300;
}

/* Dialog join to room styles */

.dialog_confirmation .dialog-vbox {
    margin-top: 40px;
    color: #737A82;
}
.dialog_confirmation .dialog-vbox > box:first-child label:first-child {
	font-size: 16px;
	font-weight: 300;
    margin-bottom: 9px;
    color: #8895A3;
}
.dialog_confirmation .dialog-vbox > box:first-child label:last-child {
	font-size: 18px;
	font-weight: 500;
}
.dialog_confirmation .dialog-vbox > box:first-child {
    margin-bottom: 9px;
}

/* Members list styles */

.listbox_members row {
    margin: 7px 7px 0 7px;
    border-radius: 5px;
    padding: 0 10px;
}
.listbox_members row:last-child {
    margin-bottom: 7px;
}
.listbox_members row:hover {
    background-color: rgb(229, 231, 244);
}
.listbox_members row:selected {
    background-color: #5771E5;
}
.listbox_members row:selected label,
.listbox_members row:selected:hover {
    color: #fff;
}
.listbox_members row:selected:hover {
    background-color: rgb(83, 107, 215);
}
.listbox_members row button {
    padding: 0;
}
.listbox_members row button:hover {
    opacity: .7;
}

/* Overshoot deactivation */

overshoot.bottom {
    background-image: none;
}
overshoot.top {
    background-image: none;
}

/* Stickers area stiles */

.btn_stickers {
	margin-right: 12px; 
}
.stickers_box {
    padding: 2px 7px;
}
.stickers_box button {
	background-image: none;
}
.box_stickers_header {
	padding: 11px 25px 11px 25px;
	border-bottom: 1px solid #CFD6EC;
	background-color: transparent;
}
.box_stickers_header label {
    color: #323B59;
    font-size: 14px;
}
.box_stickers_header button {
	font-weight: 300;
    font-size: 12px;
    background-color: #5771E5;
}
.box_stickers_area {
    border-left: 1px solid #CFD6EC;
}
.box_stickers_area grid {
    padding: 10px;
}
.box_stickers_area grid button:hover, .wnd-room-info headerbar button:hover,
.profile-settings-wnd headerbar button:hover {
    opacity: .8;
}
.wnd-room-info entry {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 7px;
    padding: 0 8px;
}

/* User info styles */

.dialog_user_info textview {
    background-color: transparent;
}
.box_user_info {
	padding: 25px 30px 30px;
}
.box_user_info > box {
	color: #737A82;
}
.box_user_info > box label:first-child {
	font-size:14px;
	font-weight: 500;
}
.box_user_info > box label:last-child {
	font-size:16px;
}
.box_user_info > box:last-child label {
	margin-bottom: 5px;
}

.arrow-down-btn {
	background: #E8ECF8;
	border-radius: 10px;
}
.arrow-down-btn:hover {
    opacity: .7 ;
}
.box_msg_ctrl > box:first-child {
	font-size: 14px;
	color: #5771E5;
}